<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fuel Quote History</title>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui pointing menu inverted">
    <div class="header item">
        Cosc 4353
    </div>
    <a class="item">
        Home
    </a>
    <a class="item" href="\profile">
        Profile
    </a>
    <a class="item" href="\fuelQuote">
        Fuel Quote
    </a>
    <a class="item active">
        Fuel Quote History
    </a>
    <a class="item right aligned" href="\logout">
        Logout
    </a>
</div>
<div class="ui middle aligned center aligned grid">
    <div class="eight wide column">
        <div class="ui two column centered grid">
            <div class="row">
                <h2 class="ui image header">
                    <div class="content">
                        Fuel Quote History
                    </div>
                </h2>
            </div>
            <table class="ui celled padded table">
                <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Delivery Date</th>
                    <th>Address</th>
                    <th>Amount Requested</th>
                    <th>Suggested Price</th>
                    <th>Total Amount</th>
                </tr></thead>
                <tbody>
                {{ $name := .FullName }}
                {{ $address := .Address }}
                {{ $amount := .Amount }}
                {{ $date := .Date }}
                {{ $suggested := .SuggestedPrice }}
                {{range $index,$total := .TotalAmount }}
                <tr>
                    <td data-label="Client Name">{{index $name $index}}</td>
                    <td data-label="Delivery Date">{{index $date $index}}</td>
                    <td data-label="Address">{{index $address $index}}</td>
                    <td data-label="Amount Requested">{{index $amount $index}}</td>
                    <td data-label="Suggested Price">${{index $suggested $index}}</td>
                    <td data-label="Total Amount">${{ $total }}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    $('.ui.labeled.icon.sidebar').sidebar('toggle');
</script>
</body>
</html>
