<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Client Registration</title>
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui pointing menu inverted">
    <div class="header item">
        Cosc 4353
    </div>
</div>
<div class="ui three column grid">
    <div class="column">
    </div>
    <div class="three wide column">
        <form class="ui form segment" action="/login">
            <div class="ui two column centered grid">
                <div class="row">
                    <h2 class="ui image header">
                        <div class="content">
                            Login
                        </div>
                    </h2>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input name="username" type="text" placeholder="username">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input name="password" type="text" placeholder="password">
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="row">
                    <button class="ui primary submit button">
                        Login
                    </button>
                    <button class="ui button" href="/register">
                        <a href="/register">Register</a>
                    </button>
                </div>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="column">
    </div>
</div>
<script>
    $('.ui.form')
        .form({
            fields: {
                name: {
                    identifier: 'password',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please fill in the required fields'
                        }
                    ],

                },

            }
        })
    ;
</script>
</body>
</html>
